<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body className=''>

        <div class='min-h-screen grid grid-cols-1 grid-rows-[auto_1fr_auto]'>

            <header class='py-4 shadow-md bg-white w-full grid'>
                <h1 class='font-extrabold text-lg font-mono text-center'>BLOGGER</h1>
                <nav class=''>
                    <ul class='flex justify-center items-center gap-5 lg:gap-10'>
                        {% if app.user %}
                            <li>
                                <a href="{{ path('app_blog') }}" className='px-4 py-2 font-bold text-black hover:bg-gray-300'>
                                    inicio
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('app_blog_create') }}" className='px-4 py-2 font-bold text-black hover:bg-gray-300'>
                                    crear
                                </a>
                            </li>
                            <li>
                                <a href="" className='px-4 py-2 font-bold text-black hover:bg-gray-300'>
                                    perfil
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href=" {{ path('app_login') }} " className='px-4 py-2 font-bold text-black hover:bg-gray-300'>
                                    entrar
                                </a>
                            </li>
                            <li>
                                <a href=" {{ path('app_register') }} " className='px-4 py-2 font-bold text-black hover:bg-gray-300'>
                                    registro
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </header>

            <div class="bg-gray-200 py-10">
                {% block body %}{% endblock %}
            </div>

            {% block footer %}
                <footer class='text-center bg-white border-t py-4 bottom-0'>
                    <ul className='md:flex justify-center'>
                        <li class='text-black font-light text-lg'>Mi blog Symfony 6 con tailwind css</li>
                        <li class='text-gray-800 font-light text-sm'>Jose Sojo - josesojo2828@gmail.com</li>
                    </ul>
                </footer>
            {% endblock %}

        </div>
        
    </body>
</html>
